body {  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.main_div {
  /* border: 0.5px solid black; */
  /* width: 70vw; */
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 450px;
  box-shadow: 0 4px 10px rgba(59, 0, 95, 0.7);
}
h2 {
  margin-bottom: 15px;
}
button {
  margin-top: 15px;
  width: 100%;
  padding: 10px;
  background: #1ab93f;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  background: #088e25;
}
.head{
    margin-bottom: 20px;
    font-weight: 600;
}
